# Python packaging artifacts
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Temporary files
*.swp
*.swo
*.tmp

# Project-wide environment files
.env
.env.*
!.env.example
uv.lock

# Django
*.log
db.sqlite3
media/
staticfiles/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
