
{% extends "base.html" %}

{% block title %}All Cards{% endblock %}

{% block content %}

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Logo URL</th>
    </tr>

    {% for card in cards %}
        <tr>
            <td>{{ card.id }}</td>
            <td>{{ card.name }}</td>
            <td>{{ card.description }}</td>
            <td>{{ card.logo_url }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No cards found.</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}