{% extends "base.html" %}

{% block title %}My Cards{% endblock %}
{% block page_title %}My Cards{% endblock %}

{% block content %}
<div class="cards-table">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>

        {% for card in cards %}
        <tr>
            <td>{{ card.name }}</td>
            <td>{{ card.description }}</td>
            <td>
                <form class="table-action-form" method="get" action="{% url 'cards:card_update' card.pk %}">
                    <button class="table-action" type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form class="table-action-form" method="get" action="{% url 'cards:card_delete' card.pk %}">
                    <button class="table-action table-action--danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">You have not created any cards.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
